:root {
  --border-radius-0: 0;
  --border-radius-0d50: 7px;
  --border-radius-0d75: 10.5px;
  --border-radius-100: 14px;
  --border-radius-175: 24.5px;
  --border-radius-full: 9999px;
  --border-radius-circle: 50%;
}
