:root {
  --spacing-0: 0;
  --spacing-0d25: 3.5px;
  --spacing-0d28: 4px;
  --spacing-0d50: 7px;
  --spacing-0d75: 10.5px;
  --spacing-100: 14px;
  --spacing-150: 21px;
  --spacing-200: 28px;
  --spacing-250: 35px;
  --spacing-300: 42px;
  --spacing-400: 56px;
  --spacing-450: 63px;
  --spacing-500: 70px;
  --spacing-600: 84px;
  --spacing-700: 98px;
  --spacing-750: 105px;
  --spacing-800: 112px;
  --spacing-900: 126px;
  --spacing-1000: 140px;
  --spacing-1200: 168px;
  --spacing-1400: 196px;
  --spacing-1500: 210px;
  --spacing-1800: 252px;
}
